Click==7.0
config==0.5.0.post0
Flask==1.1.1
gunicorn==20.0.4
imgurpython==1.1.7
itsdangerous==1.1.0
Jinja2==2.11.1
json5==0.9.1
MarkupSafe==1.1.1
matplotlib==3.2.0
numpy==1.18.1
pandas==1.0.1
Pillow==7.0.0
pydub==0.24.1
pytesseract==0.3.5
pyquery==1.4.1
requests==2.22.0
scipy==1.4.1
Werkzeug==1.0.0
